@model IEnumerable<WalmartProductViewer.Models.Product>

<div class="container">
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
</div>

@if (Model != null && Model.Count() > 0)
{
    foreach (var product in Model)
    {
        <div class="container">
            <div class="row" id="myDIV">
                @Html.ActionLink(product.Name, "ProductDetail", "Home", product, null)
                <img src=@product.ThumbnailImage />
            </div>
        </div>
    }
}
@section scripts {
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myDIV *").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}