@model WalmartProductViewer.Models.Product
<div class="container">
    <div class="row">
        <h1>ID: @Model.ItemID</h1>
        <h1>Name: @Model.Name</h1>
        <img src=@Model.ThumbnailImage />
    </div>
</div>